.slider {
    max-width: 700px;
    margin: 0 auto;
  }
  .slider input {
    display: none;
  }
  @media (max-width: 780px){
    .slider{
      max-width: 90vw;
      }
}
  @media (max-width: 500px){
    .main__img{
        max-height: 90vh;
      }
  }