.info__container{
    max-width:100vw;
    height: 560px;
    background-image: url(../../../img/more-inform.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1024px){
    .info__container{
      max-width: 900px;
    }
  }
  @media (max-width: 780px){
    .info__container{
      max-width: 780px;
    }
  }
  @media (max-width: 500px){
    .info__container{
      max-width: 100vw;
    }
  }
  