.info__text-container{
    max-width: 570px;
    padding-left: 70px;
    margin-right: 70px;
  }
  /* @media (max-width: 780px){
    .info__text-container {
      max-width: 250px;
    }
  } */
  @media (max-width: 500px){
    .info__text-container {
      max-width: 250px;
    }
  }
  