.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
    /*max-width: 96vw;*/
}
@media (min-width:500px) {
    .footer{
        max-width: 95vw;
    }
}