.form__submit{
    width: 450px;
    height: 58px;
    background: #018ABE;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  .form__submit:hover{
    transition: 0.8s;
    cursor: pointer;
    transition: 0.8s;
    background: rgba(55, 154, 193,0.8);
    box-shadow: inset 0 0 0 3px #3a7999;
  }
  @media (max-width: 780px){
    .form__submit{
      max-width: 320px;
    }
  }
  @media (max-width: 500px){
    .form__submit{
      margin: 0 auto;
    }
  }