.types{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  @media (max-width:500px) {
    .types{
      flex-direction: column;
      margin: 0;
    }
  }