.about__img{
    margin-bottom: 100px;
  }
  @media (max-width: 780px){
    .about__img {
      max-width:100vw;
      /* max-height: 300px; */
  }
  @media (max-width: 500px){
    .about__img {
      max-width:95vw;
  }
}
  }