.inputs{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #878787;
    border:1px solid #878787;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 12px;
    max-width: 500px;
  }
  .inputs__error{
    margin-top: 0;
    color: #ec3434;
    font-size: 13px;
}
  @media (max-width: 780px){
    .inputs{
      /* max-width: 300px; */
      max-height: 10px;
      padding: 16px;
    }
  }
  @media (max-width: 500px){
    .inputs{
      max-height: 10px;
    }
  }